.linkedinButton {
  background-color: #0077B5;
  border: 0;
  border-radius: 3px;
  padding: 7px 10px;
  color: white;
  font-weight: 600;
  line-height: 32px;
  vertical-align: middle;
  transition: background-color 200ms ease-in-out;
}

.linkedinButton:hover {
  background-color: #005f90;
}

.linkedinButton:focus {
  box-shadow: inset 2px 2px 10px #005f90;
  outline: none;
}

.linkedinLogo {
  width: 32px;
  height: 32px;
  vertical-align: top;
  margin-right: 1rem;
}
